<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Layout</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous"/>
    <link href="../css/addons/jquery.mCustomScrollbar.min.css" rel="stylesheet"/>
    <link href="../css/addons/datatables.min.css" rel="stylesheet"/>
    <link href="../css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../css/app.css" rel="stylesheet"/>
  </head>
  <body>
    <div class="wrapper main-wrapper-bg">
      <div class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top scrolling-navbar">
        <div class="container"><a class="navbar-brand" href="./index.html"><img src="../assets/logo.png" alt=""/></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav w-100">
              <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBTC" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">BTC</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownBTC"><a class="dropdown-item" href="#">OTC</a><a class="dropdown-item" href="#">Exchange</a></div>
              </li>
              <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" id="navbarDropdownETH" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ETH</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownETH"><a class="dropdown-item" href="#">OTC</a><a class="dropdown-item" href="#">Exchange</a></div>
              </li>
              <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBCash" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">BCASH</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownBCash"><a class="dropdown-item" href="#">OTC</a><a class="dropdown-item" href="#">Exchange</a></div>
              </li>
              <li class="nav-item"><a class="nav-link" href="#">LTC</a></li>
              <li class="nav-item"><a class="nav-link" href="#">XMR</a></li>
              <li class="nav-item dropdown ml-auto"><a class="nav-link dropdown-toggle" href="./order.html" id="navbarDropdownOrder" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="far fa-file-alt pr-1"></i>Order</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownOrder"><a class="dropdown-item" href="./order.html">OTC Orders</a><a class="dropdown-item" href="./exchange_order.html">Exchange Orders</a></div>
              </li>
              <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="./wallet.html" id="navbarDropdownWallet" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-wallet pr-1"></i>Assets</a>
                <div class="dropdown-menu mega-menu" aria-labelledby="navbarDropdownWallet"><a class="dropdown-item" href="./wallet.html"> <span class="text-blue font-bold">OTC Account</span>
                    <table class="table table-sm mt-2">
                      <thead>
                        <tr>
                          <th>Coin</th>
                          <th>Available</th>
                          <th>Frozen</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>BTC</td>
                          <td>0.00000000</td>
                          <td>0.00000000</td>
                        </tr>
                        <tr>
                          <td>ETH</td>
                          <td>0.00000000</td>
                          <td>0.00000000</td>
                        </tr>
                        <tr>
                          <td>BCASH</td>
                          <td>0.00000000</td>
                          <td>0.00000000</td>
                        </tr>
                        <tr>
                          <td>LTC</td>
                          <td>0.00000000</td>
                          <td>0.00000000</td>
                        </tr>
                        <tr>
                          <td>XMR</td>
                          <td>0.00000000</td>
                          <td>0.00000000</td>
                        </tr>
                      </tbody>
                    </table><span class="text-blue font-bold">Exchange Account</span>
                    <table class="table table-sm mt-2">
                      <thead>
                        <tr>
                          <th>Coin</th>
                          <th>Available</th>
                          <th>Frozen</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>BTC</td>
                          <td>0.00000000</td>
                          <td>0.00000000</td>
                        </tr>
                        <tr>
                          <td>ETH</td>
                          <td>0.00000000</td>
                          <td>0.00000000</td>
                        </tr>
                        <tr>
                          <td>BCASH</td>
                          <td>0.00000000</td>
                          <td>0.00000000</td>
                        </tr>
                        <tr>
                          <td>LTC</td>
                          <td>0.00000000</td>
                          <td>0.00000000</td>
                        </tr>
                        <tr>
                          <td>XMR</td>
                          <td>0.00000000</td>
                          <td>0.00000000</td>
                        </tr>
                      </tbody>
                    </table></a></div>
              </li>
              <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="./user_profile.html" id="navbarDropdownUser" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="far fa-user-circle pr-1"></i>User</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownUser"><a class="dropdown-item" href="./user_profile.html">User Center</a><a class="dropdown-item" href="#">Advertisements</a><a class="dropdown-item" href="#">Invite friends</a><a class="dropdown-item" href="./index.html">Log out</a></div>
              </li>
              <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">| Lang</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown"><a class="dropdown-item" href="#">English</a><a class="dropdown-item" href="#">Vietnamese</a></div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <main class="main-content">   
        <div class="content-wrapper">
          <div class="container-fluid bg-white mx-3 py-3 content">
            <div class="row p-2 px-md-4 pt-md-4 pb-md-2 justify-content-center position-relative">
              <div class="absolute-link"><a class="text-grey" href="./user_profile.html"><i class="pr-2 fas fa-undo-alt"></i><small>User center</small></a></div>
              <h3>Bind phone</h3>
            </div>
            <hr/>
            <div class="row py-2 px-md-4 pt-md-4 pb-md-2 no-gutters justify-content-center">
              <div class="col-sm-7 col-md-6 col-lg-5" id="step-1">
                <div class="row d-flex justify-content-center no-gutters">
                  <div class="col-auto text-center"><img src="../assets/bind_phone.png" alt=""/><small class="d-block pt-1">Bind phone</small></div>
                  <div class="col-5 d-flex align-items-center">
                    <div class="dotted-line w-100 mx-3"></div>
                  </div>
                  <div class="col-auto text-center"><img src="../assets/verified_identity.png" alt=""/><small class="d-block pt-1">Verify identidy</small></div>
                </div>
                <form class="custom-form p-4 form-register needs-validation" action="#" novalidate="novalidate">
                  <div class="form-group">
                    <select class="form-control">
                      <option value="1" selected="selected">1 United State</option>
                      <option value="84">84 Vietnam</option>
                      <option value="86">86 China</option>
                      <option value="60">60 Malaysia</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <input class="form-control" type="text" placeholder="Enter phone number" autocomplete="off" required="required"/>
                    <div class="invalid-feedback">Invalid phone number</div>
                  </div>
                  <div class="input-group mb-3">
                    <input class="form-control" type="text" placeholder="Enter verification code" required="required"/>
                    <div class="input-group-append">
                      <button class="btn btn-gradient-blue element-append" type="button">Send</button>
                    </div>
                    <div class="invalid-feedback">Invalid code</div>
                  </div>
                  <div class="form-group">
                    <button class="btn btn-lg btn-gradient-blue w-100" id="btnStep1" type="submit">Next</button>
                  </div>
                </form>
              </div>
              <div class="col-sm-7 col-md-6 col-lg-5" id="step-2">
                <div class="row d-flex justify-content-center no-gutters">
                  <div class="col-auto text-center"><img src="../assets/binded_phone.png" alt=""/><small class="d-block pt-1">Bind phone</small></div>
                  <div class="col-5 d-flex align-items-center">
                    <div class="dotted-line w-100 mx-3"></div>
                  </div>
                  <div class="col-auto text-center"><img src="../assets/verified_identity.png" alt=""/><small class="d-block pt-1">Verify identidy</small></div>
                </div>
                <form class="custom-form p-4 form-register needs-validation" action="./user_profile.html" novalidate="novalidate">
                  <div class="form-group"><small>abc****@gmail.com</small></div>
                  <div class="input-group mb-3">
                    <input class="form-control" type="text" placeholder="Enter email verification code" required="required"/>
                    <div class="input-group-append">
                      <button class="btn btn-gradient-blue element-append" type="button">Send</button>
                    </div>
                    <div class="invalid-feedback">Invalid code</div>
                  </div>
                  <div class="form-group">
                    <button class="btn btn-lg btn-gradient-blue w-100" id="btnStep2" type="submit">OK</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </main>
      <div class="container-fluid bg-footer py-4">
        <div class="container footer">
          <div class="row justify-content-between">
            <div class="cell">
              <h6 class="font-bold pt-2">BCASH EXCHANGE</h6>
              <div class="pb-2"><i class="fas fa-envelope pr-1"></i>Email: <a href="mailto:support@bcashpay.org">Support@BcashPay.org</a></div>
              <div class="pb-2"><i class="fas fa-comments pr-1"></i><a href="#">Online support</a></div>
              <div class="pb-4"><i class="fas fa-question-circle pr-1"></i><a href="./faq.html">Frequently Asked Questions</a></div>
            </div>
            <div class="cell">
              <h6 class="font-bold pt-2">INTRODUCE</h6>
              <div class="pb-2"><i class="fas fa-chevron-circle-right pr-1"></i><a href="./about.html">About us</a></div>
              <div class="pb-2"><i class="fas fa-chevron-circle-right pr-1"></i><a href="#">Fees</a></div>
              <div class="pb-4"><i class="fas fa-chevron-circle-right pr-1"></i><a href="./policy_term.html">Policies and Terms</a></div>
            </div>
            <div class="cell">
              <h6 class="font-bold pt-2">SOCIAL MEDIA</h6>
              <div class="pb-2"><i class="fab fa-facebook-square pr-1"></i><a href="#">Facebook</a></div>
              <div class="pb-2"><i class="fab fa-telegram pr-1"></i><a href="#">Telegram</a></div>
              <div class="pb-4"><i class="fab fa-twitter pr-1"></i><a href="#">Twitter</a></div>
            </div>
            <div class="cell">
              <h6 class="font-bold pt-2">SIGN UP FOR THE NEWSLETTER</h6>
              <div class="pb-2">Please register to receive latest news from <b>BCASH Exchange</b></div>
              <div class="input-group mb-3">
                <input class="form-control" type="email" placeholder="Enter your mail" aria-label="Enter your mail" aria-describedby="button-addon2"/>
                <div class="input-group-append">
                  <button class="btn btn-gradient-orange" type="button" id="button-addon2">Agree</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid bg-copyright">
        <div class="container">
          <div class="row">
            <div class="col py-2">Designed by BCASH EXCHANGE. All rights reserved. © 2018</div>
          </div>
        </div>
      </div>
    </div>
    <script src="../js/jquery-3.3.1.min.js"></script>
    <script src="../js/popper.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/addons/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="../js/addons/datatables.min.js"></script>
    <script src="../js/main.js"></script>
    <script>
      (function() {
          'use strict';
          window.addEventListener('load', function() {
              var forms = document.getElementsByClassName('needs-validation');
              var validation = Array.prototype.filter.call(forms, function(form) {
                  form.addEventListener('submit', function(event) {
                      if (form.checkValidity() === false) {
                          event.preventDefault();
                          event.stopPropagation();
                      }
                      form.classList.add('was-validated');
                  }, false);
              });
          }, false);
      })();
    </script>
    <script>
      $(function(){
          $('#step-2').hide();
          $('#btnStep1').on('click',function(){
              $('#step-2').show();
              $('#step-1').hide();
          });
      });
    </script>
  </body>
</html>