<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Layout</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous"/>
    <link href="../css/addons/jquery.mCustomScrollbar.min.css" rel="stylesheet"/>
    <link href="../css/addons/datatables.min.css" rel="stylesheet"/>
    <link href="../css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../css/app.css" rel="stylesheet"/>
  </head>
  <body>
    <div class="wrapper main-wrapper-bg">
      <div class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top scrolling-navbar">
        <div class="container"><a class="navbar-brand" href="./index.html"><img src="../assets/logo.png" alt=""/></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav w-100">
              <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBTC" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">BTC</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownBTC"><a class="dropdown-item" href="#">OTC</a><a class="dropdown-item" href="#">Exchange</a></div>
              </li>
              <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" id="navbarDropdownETH" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ETH</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownETH"><a class="dropdown-item" href="#">OTC</a><a class="dropdown-item" href="#">Exchange</a></div>
              </li>
              <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBCash" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">BCASH</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownBCash"><a class="dropdown-item" href="#">OTC</a><a class="dropdown-item" href="#">Exchange</a></div>
              </li>
              <li class="nav-item"><a class="nav-link" href="#">LTC</a></li>
              <li class="nav-item"><a class="nav-link" href="#">XMR</a></li>
              <li class="nav-item dropdown ml-auto"><a class="nav-link dropdown-toggle" href="./order.html" id="navbarDropdownOrder" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="far fa-file-alt pr-1"></i>Order</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownOrder"><a class="dropdown-item" href="./order.html">OTC Orders</a><a class="dropdown-item" href="./order.html">Exchange Orders</a></div>
              </li>
              <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="./wallet.html" id="navbarDropdownWallet" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-wallet pr-1"></i>Assets</a>
                <div class="dropdown-menu mega-menu" aria-labelledby="navbarDropdownWallet"><a class="dropdown-item" href="./wallet.html"> <span class="text-blue font-bold">OTC Account</span>
                    <table class="table table-sm mt-2">
                      <thead>
                        <tr>
                          <th>Coin</th>
                          <th>Available</th>
                          <th>Frozen</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>BTC</td>
                          <td>0.00000000</td>
                          <td>0.00000000</td>
                        </tr>
                        <tr>
                          <td>ETH</td>
                          <td>0.00000000</td>
                          <td>0.00000000</td>
                        </tr>
                        <tr>
                          <td>BCASH</td>
                          <td>0.00000000</td>
                          <td>0.00000000</td>
                        </tr>
                        <tr>
                          <td>LTC</td>
                          <td>0.00000000</td>
                          <td>0.00000000</td>
                        </tr>
                        <tr>
                          <td>XMR</td>
                          <td>0.00000000</td>
                          <td>0.00000000</td>
                        </tr>
                      </tbody>
                    </table><span class="text-blue font-bold">Exchange Account</span>
                    <table class="table table-sm mt-2">
                      <thead>
                        <tr>
                          <th>Coin</th>
                          <th>Available</th>
                          <th>Frozen</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>BTC</td>
                          <td>0.00000000</td>
                          <td>0.00000000</td>
                        </tr>
                        <tr>
                          <td>ETH</td>
                          <td>0.00000000</td>
                          <td>0.00000000</td>
                        </tr>
                        <tr>
                          <td>BCASH</td>
                          <td>0.00000000</td>
                          <td>0.00000000</td>
                        </tr>
                        <tr>
                          <td>LTC</td>
                          <td>0.00000000</td>
                          <td>0.00000000</td>
                        </tr>
                        <tr>
                          <td>XMR</td>
                          <td>0.00000000</td>
                          <td>0.00000000</td>
                        </tr>
                      </tbody>
                    </table></a></div>
              </li>
              <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="./user_profile.html" id="navbarDropdownUser" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="far fa-user-circle pr-1"></i>User</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownUser"><a class="dropdown-item" href="./user_profile.html">User Center</a><a class="dropdown-item" href="#">Advertisements</a><a class="dropdown-item" href="#">Invite friends</a><a class="dropdown-item" href="./index.html">Log out</a></div>
              </li>
              <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">| Lang</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown"><a class="dropdown-item" href="#">English</a><a class="dropdown-item" href="#">Vietnamese</a></div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <main class="main-content">   
        <div class="content-wrapper">
          <div class="container-fluid bg-white mx-3 py-3 content">
            <div class="row p-2 px-md-4 pt-md-4 pb-md-2 justify-content-between">
              <div class="d-flex flex-nowrap align-items-center"><img class="coins-img mr-2" src="../assets/coins/BTC.png" alt=""/><span class="pr-3">djula</span><img src="../assets/verified.png" alt=""/></div>
              <div class="d-sm-flex d-none flex-column text-center">
                <h5>60+</h5>
                <div class="text-grey">Trades</div>
              </div>
              <div class="d-sm-flex d-none flex-column text-center">
                <h5>100%</h5>
                <div class="text-grey">Rating</div>
              </div>
            </div>
            <hr/>
            <div class="row p-2 px-md-4 pt-md-4 pb-md-2">
              <h5 class="px-3">Buy bitcoins via PayPal with United States United States Dollar (USD)</h5>
            </div>
            <div class="row py-2 px-md-4 pt-md-4 pb-md-2 no-gutters">
              <div class="col-3 text-grey">Price:</div>
              <div class="col-9">
                <h5>6850.83 USD</h5>
              </div>
            </div>
            <div class="row py-2 px-md-4 pt-md-4 pb-md-2 no-gutters">
              <div class="col-3 text-grey">Limits:</div>
              <div class="col-9 font-bold">150 - 500 USD</div>
            </div>
            <div class="row py-2 px-md-4 pt-md-4 pb-md-2 no-gutters">
              <div class="col-3 text-grey">Payment method:</div>
              <div class="col-9 font-bold"><img class="tiny-img" src="../assets/payments/PAYPAL.png" alt=""/></div>
            </div>
            <div class="row py-2 px-md-4 pt-md-4 pb-md-2 no-gutters">
              <div class="col-3 text-grey">Time of payment:</div>
              <div class="col-9 font-bold">15 minutes</div>
            </div>
            <div class="row py-2 px-md-4 pt-md-4 pb-md-2 no-gutters">
              <div class="col-3 text-grey">Messages:</div>
              <div class="col-9 font-bold"><small>PAYPAL PAYPAL PAYPAL Before opening a trade please make sure you have your government-issued photo ID in your hand. I will do an ID verification. <br/>- Your PayPal account name must match name on your ID.<br/>- PayPal account must be verified<br/>- You must pay all the fees, I need to receive the exact amount. (Check with PayPal about the transfer/conversion fees) 4.4% transaction fee plus 30 cents (https://www.paypal.com/us/webapps/mpp/merchant-fees#fixed-fees-standard)</small></div>
            </div>
            <div class="row p-2 px-md-4 pt-md-4 pb-md-2">
              <h5 class="px-3">How much do you want to trade?</h5>
            </div>
            <div class="row py-2 px-md-4 pt-md-4 pb-md-2 no-gutters">
              <div class="col">
                <div class="input-group">
                  <input class="form-control" type="number" placeholder="Please enter the amount of this order"/>
                  <div class="input-group-append"><span class="input-group-text">USD</span></div>
                </div>
                <div class="text-grey mt-1"><small>The order amount ranges from 150 - 497</small></div>
              </div>
              <div class="col-auto px-1">
                <svg style="width:30px;height:30px" viewBox="0 0 24 24">
                  <path fill="#000000" d="M21,9L17,5V8H10V10H17V13M7,11L3,15L7,19V16H14V14H7V11Z"></path>
                </svg>
              </div>
              <div class="col">
                <div class="input-group">
                  <input class="form-control" type="number" placeholder="Please enter the number of order place this time"/>
                  <div class="input-group-append"><span class="input-group-text">BTC</span></div>
                </div>
              </div>
            </div>
            <div class="row py-2 px-md-4 pt-md-4 pb-md-2 no-gutters">
              <div class="col">
                <button class="btn btn-lg btn-gradient-blue mr-4" type="submit" data-toggle="modal" data-target="#modalVerify">Buy now</button><a href="#"><small>Trade guidelines</small></a>
              </div>
            </div>
            <hr/>
            <div class="row p-2 px-md-4 pt-md-4 pb-md-2">
              <h5 class="px-3">Other ads by djula</h5>
            </div>
            <div class="row py-2 px-md-4 pt-md-4 pb-md-2 no-gutters">
              <div class="col">
                <table class="table-plugin">
                  <thead>
                    <tr>
                      <th>Coin</th>
                      <th>Payment method</th>
                      <th>Limits</th>
                      <th>Price</th>
                      <th><span>Trade </span><span class="badge badge-danger">0 FEE</span></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>ETH</td>
                      <td><img src="../assets/payments/PAYPAL.png" alt=""/></td>
                      <td>150-500 USD</td>
                      <td>7285.07USD</td>
                      <td><a class="btn btn-gradient-blue btn-sm" href="./buyFrom.html">Buy ETH</a></td>
                    </tr>
                    <tr>
                      <td>BTC</td>
                      <td><img src="../assets/payments/PAYPAL.png" alt=""/></td>
                      <td>50-200 USD</td>
                      <td>120000USD</td>
                      <td><a class="btn btn-gradient-blue btn-sm" href="./buyFrom.html">Buy BTC</a></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="modal modal-warning fade" id="modalMessage" tabindex="-1" role="dialog" aria-labelledby="modalMessageLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title w-100 text-center text-blue" id="modalMessageLabel">djula</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      </div>
                      <div class="modal-body">
                        <div class="container">
                          <div class="row">
                            <div class="col py-1">
                              <form class="modal-warning custom-form pl-4 pr-4 pb-4 pt-1 form-register needs-validation" action="./user_profile.html" novalidate="novalidate">
                                <div class="row py-2no-gutters">
                                  <div class="col-3 text-grey">Price:</div>
                                  <div class="col-9">
                                    <h5>2348.28 USD</h5>
                                  </div>
                                </div>
                                <div class="row py-2 no-gutters">
                                  <div class="col-3 text-grey">Limits:</div>
                                  <div class="col-9 font-bold">50 - 100 USD</div>
                                </div>
                                <hr class="mt-0"/>
                                <div class="form-group">   
                                  <textarea class="form-control message-box" rows="10"></textarea>
                                </div>
                                <div class="form-group text-center mb-1"><a class="btn btn-lg btn-gradient-orange w-100 btn-message" href="#">Hi, are you available?</a></div>
                                <div class="form-group text-center mb-1"><a class="btn btn-lg btn-gradient-orange w-100 btn-message" href="#">Confirm transfered</a></div>
                                <div class="form-group text-center mb-1"><a class="btn btn-lg btn-gradient-orange w-100 btn-message" href="#">Confirm received</a></div>
                                <div class="form-group text-center mb-1"><a class="btn btn-lg btn-gradient-orange w-100 btn-message" href="#">Voted</a></div>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="modal modal-warning fade" id="modalVerify" tabindex="-1" role="dialog" aria-labelledby="modalVerifyLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title w-100 text-center text-blue" id="modalVerifyLabel">Are you sure?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      </div>
                      <div class="modal-body">
                        <div class="container">
                          <div class="row">
                            <div class="col py-1">
                              <form class="modal-warning custom-form p-4 form-register needs-validation" action="./user_profile.html" novalidate="novalidate">
                                <div class="form-group info-box bg-warning"><i class="pr-2 fas fa-info-circle text-yellow"></i>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus corporis ipsum, quos itaque ullam eum, aperiam magnam saepe explicabo, id repudiandae a modi. Unde soluta, nam totam deserunt autem animi.</div>
                                <div class="form-group text-center"><a class="btn btn-lg btn-gradient-blue mx-1" id="btnConfirm" href="#">OK</a>
                                  <button class="btn btn-lg btn-gradient-grey mx-1" data-dismiss="modal">Cancel</button>
                                </div>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="modal modal-warning fade" id="modalSuccess" tabindex="-1" role="dialog" aria-labelledby="modalSuccessLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content transfer-container">
                      <div class="modal-body d-flex align-items-center"><i class="fas fa-check-circle fa-2x pr-3 text-green"></i><span>Buy success</span></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="message message-container container">
          <div class="row justify-content-end">
            <div class="message-wrapper">
              <div class="message-heading">djula<span class="hide-icon"></span></div>
              <div class="message-screen">
                <div class="me"><span>Lorem ipsum dolor sit.</span><span>Lorem ipsum dolor sit.</span></div>
                <div class="me"><span>Lorem ipsum dolor sit amet.</span></div>
                <div class="you"><span>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</span></div>
              </div>
              <div class="message-controls">
                <input class="message-box" type="text" placehold="Input message"/>
                <button class="btn btn-sm btn-gradient-blue">Send</button>
              </div>
              <div class="message-group">
                <label class="btn btn-sm mb-0" for="sendFile">File</label>
                <input class="form-control-file d-none" id="sendFile" type="file"/>
                <button class="btn btn-sm">Received</button>
                <button class="btn btn-sm">Transfered</button>
              </div>
            </div>
            <div class="message-wrapper">
              <div class="message-heading">djula<span class="hide-icon"></span></div>
              <div class="message-screen">
                <div class="me"><span>Lorem ipsum dolor sit.</span><span>Lorem ipsum dolor sit.</span></div>
                <div class="me"><span>Lorem ipsum dolor sit amet.</span></div>
                <div class="you"><span>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</span></div>
              </div>
              <div class="message-controls">
                <input class="message-box" type="text" placehold="Input message"/>
                <button class="btn btn-sm btn-gradient-blue">Send</button>
              </div>
              <div class="message-group">
                <label class="btn btn-sm mb-0" for="sendFile">File</label>
                <input class="form-control-file d-none" id="sendFile" type="file"/>
                <button class="btn btn-sm">Received</button>
                <button class="btn btn-sm">Transfered</button>
              </div>
            </div>
          </div>
        </div>
      </main>
      <div class="container-fluid bg-footer py-4">
        <div class="container footer">
          <div class="row justify-content-between">
            <div class="cell">
              <h6 class="font-bold pt-2">BCASH EXCHANGE</h6>
              <div class="pb-2"><i class="fas fa-envelope pr-1"></i>Email: <a href="mailto:support@bcashpay.org">Support@BcashPay.org</a></div>
              <div class="pb-2"><i class="fas fa-comments pr-1"></i><a href="#">Online support</a></div>
              <div class="pb-4"><i class="fas fa-question-circle pr-1"></i><a href="./faq.html">Frequently Asked Questions</a></div>
            </div>
            <div class="cell">
              <h6 class="font-bold pt-2">INTRODUCE</h6>
              <div class="pb-2"><i class="fas fa-chevron-circle-right pr-1"></i><a href="./about.html">About us</a></div>
              <div class="pb-2"><i class="fas fa-chevron-circle-right pr-1"></i><a href="#">Fees</a></div>
              <div class="pb-4"><i class="fas fa-chevron-circle-right pr-1"></i><a href="./policy_term.html">Policies and Terms</a></div>
            </div>
            <div class="cell">
              <h6 class="font-bold pt-2">SOCIAL MEDIA</h6>
              <div class="pb-2"><i class="fab fa-facebook-square pr-1"></i><a href="#">Facebook</a></div>
              <div class="pb-2"><i class="fab fa-telegram pr-1"></i><a href="#">Telegram</a></div>
              <div class="pb-4"><i class="fab fa-twitter pr-1"></i><a href="#">Twitter</a></div>
            </div>
            <div class="cell">
              <h6 class="font-bold pt-2">SIGN UP FOR THE NEWSLETTER</h6>
              <div class="pb-2">Please register to receive latest news from <b>BCASH Exchange</b></div>
              <div class="input-group mb-3">
                <input class="form-control" type="email" placeholder="Enter your mail" aria-label="Enter your mail" aria-describedby="button-addon2"/>
                <div class="input-group-append">
                  <button class="btn btn-gradient-orange" type="button" id="button-addon2">Agree</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid bg-copyright">
        <div class="container">
          <div class="row">
            <div class="col py-2">Designed by BCASH EXCHANGE. All rights reserved. © 2018</div>
          </div>
        </div>
      </div>
    </div>
    <script src="../js/jquery-3.3.1.min.js"></script>
    <script src="../js/popper.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/addons/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="../js/addons/datatables.min.js"></script>
    <script src="../js/main.js"></script>
    <script>
      (function() {
          'use strict';
          window.addEventListener('load', function() {
              var forms = document.getElementsByClassName('needs-validation');
              var validation = Array.prototype.filter.call(forms, function(form) {
                  form.addEventListener('submit', function(event) {
                      if (form.checkValidity() === false) {
                          event.preventDefault();
                          event.stopPropagation();
                      }
                      form.classList.add('was-validated');
                  }, false);
              });
          }, false);
      })();
    </script>
    <script>
      $(function(){
          var table = $('.table-plugin').DataTable({
              searching: false,
              ordering:  false,
              info: false,
              paging: false,
              bLengthChange: false,
              autoWidth: true,
              scrollX: true
          });
      
          $("#btnConfirm").on('click',function(){
              $('#modalSuccess').modal({show: true, focus: true});
              $('#modalVerify').modal('hide');
              setTimeout(function(){
                  $('#modalSuccess').modal('hide');
                  window.location.replace("buy.html");
              },2000);
          });
      
          $('.hide-icon').click(function(){
              $(this).toggleClass('open');
              $(this).parent().parent().toggleClass('hide');
          });
      });
    </script>
  </body>
</html>