<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Layout</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous"/>
    <link href="../css/addons/datatables.min.css" rel="stylesheet"/>
    <link href="../css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../css/app.css" rel="stylesheet"/>
  </head>
  <body>
    <div class="wrapper main-wrapper-bg">
      <div class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top scrolling-navbar">
        <div class="container"><a class="navbar-brand" href="./index.html"><img src="../assets/logo.png" alt=""/></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav w-100">
              <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBTC" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">BTC</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownBTC"><a class="dropdown-item" href="#">OTC</a><a class="dropdown-item" href="#">Exchange</a></div>
              </li>
              <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" id="navbarDropdownETH" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ETH</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownETH"><a class="dropdown-item" href="#">OTC</a><a class="dropdown-item" href="#">Exchange</a></div>
              </li>
              <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBCash" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">BCASH</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownBCash"><a class="dropdown-item" href="#">OTC</a><a class="dropdown-item" href="#">Exchange</a></div>
              </li>
              <li class="nav-item"><a class="nav-link" href="#">LTC</a></li>
              <li class="nav-item"><a class="nav-link" href="#">XMR</a></li>
              <li class="nav-item dropdown ml-auto"><a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Lang</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown"><a class="dropdown-item" href="#">English</a><a class="dropdown-item" href="#">Vietnamese</a></div>
              </li>
              <li class="nav-item"><a class="nav-link" href="./login.html">Log in</a></li>
              <li class="nav-item"><a class="nav-link btn btn-gradient-orange btn-glow" href="./register.html">Sign up</a></li>
            </ul>
          </div>
        </div>
      </div>
      <main class="main-content">   
        <div class="register container-fluid mt-5 mb-3">
          <div class="row pt-5">
            <div class="col">
              <h1 class="main-title text-center">Forget password</h1>
            </div>
          </div>
          <div class="row market-wrapper mb-5">
            <div class="col">
              <ul class="nav nav-tabs my-3" role="tablist">
                <li class="nav-item mx-3"><a class="btn btn-lg active btn-gradient-blue btn-glow" data-toggle="tab" href="#retrieveByPhone">Retrieve by phone</a></li>
                <li class="nav-item mx-3"><a class="btn btn-lg btn-gradient-blue btn-glow" data-toggle="tab" href="#retrieveByMail">Retrieve by mail</a></li>
              </ul>
              <div class="tab-content mb-5">
                <div class="container tab-pane active" id="retrieveByPhone">
                  <div class="row d-flex justify-content-center" id="step-11">
                    <div class="col-md-8 col-lg-6">
                      <form class="custom-form p-4 bg-white-grey form-login needs-validation" action="#" novalidate="novalidate">
                        <div class="form-group">
                          <select class="form-control">
                            <option value="1" selected="selected">United State</option>
                            <option value="84">Vietnam</option>
                            <option value="86">China</option>
                            <option value="60">Malaysia</option>
                          </select>
                        </div>
                        <div class="form-group">
                          <input class="form-control" type="text" placeholder="Phone number" autocomplete="off" required="required"/>
                          <div class="invalid-feedback">Incorrect phone number</div>
                        </div>
                        <div class="form-group text-right">
                          <button class="btn btn-lg btn-gradient-blue w-100" id="btnStep11" type="submit">Next</button>
                        </div>
                      </form>
                    </div>
                  </div>
                  <div class="row justify-content-center d-none" id="step-12">
                    <div class="col-md-8 col-lg-6">
                      <form class="custom-form p-4 bg-white-grey form-login needs-validation" action="#" novalidate="novalidate">
                        <div class="form-group">
                          <input class="form-control" type="password" placeholder="New password" required="required"/>
                          <div class="invalid-feedback">Incorrect password</div>
                        </div>
                        <div class="form-group">
                          <input class="form-control" type="password" placeholder="Confirm password" required="required"/>
                          <div class="invalid-feedback">Incorrect confirm password</div>
                        </div>
                        <div class="form-group text-right">
                          <button class="btn btn-lg btn-gradient-blue w-100" id="btnStep12" type="submit">Next</button>
                        </div>
                      </form>
                    </div>
                  </div>
                  <div class="row justify-content-center d-none" id="step-13">
                    <div class="col-md-8 col-lg-6">
                      <form class="custom-form p-4 bg-white-grey form-login needs-validation" action="#" novalidate="novalidate">
                        <div class="py-1">0234****456</div>
                        <div class="input-group mb-3">
                          <input class="form-control" type="text" placeholder="Enter SMS verification code" required="required"/>
                          <div class="input-group-append">
                            <button class="btn btn-gradient-blue element-append" type="button">Send</button>
                          </div>
                          <div class="invalid-feedback">Invalid code</div>
                        </div>
                        <div class="form-group">
                          <button class="btn btn-lg btn-gradient-blue w-100" id="btnConfirm" type="submit" data-toggle="modal" data-target="#modalSuccess">OK</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                <div class="container tab-pane fade" id="retrieveByMail">
                  <div class="row d-flex justify-content-center" id="step-21">
                    <div class="col-md-8 col-lg-6">
                      <form class="custom-form p-4 bg-white-grey form-login needs-validation" action="#" novalidate="novalidate">
                        <div class="form-group">
                          <input class="form-control" type="email" placeholder="Please enter email" autocomplete="off" required="required"/>
                          <div class="invalid-feedback">Incorrect email</div>
                        </div>
                        <div class="form-group text-right">
                          <button class="btn btn-lg btn-gradient-blue w-100" id="btnStep21" type="submit">Next</button>
                        </div>
                      </form>
                    </div>
                  </div>
                  <div class="row justify-content-center d-none" id="step-22">
                    <div class="col-md-8 col-lg-6">
                      <form class="custom-form p-4 bg-white-grey form-login needs-validation" action="#" novalidate="novalidate">
                        <div class="form-group">
                          <input class="form-control" type="password" placeholder="New password" required="required"/>
                          <div class="invalid-feedback">Incorrect password</div>
                        </div>
                        <div class="form-group">
                          <input class="form-control" type="password" placeholder="Confirm password" required="required"/>
                          <div class="invalid-feedback">Incorrect confirm password</div>
                        </div>
                        <div class="form-group text-right">
                          <button class="btn btn-lg btn-gradient-blue w-100" id="btnStep22" type="submit">Next</button>
                        </div>
                      </form>
                    </div>
                  </div>
                  <div class="row justify-content-center d-none" id="step-23">
                    <div class="col-md-8 col-lg-6">
                      <form class="custom-form p-4 bg-white-grey form-login needs-validation" action="#" novalidate="novalidate">
                        <div class="py-1">abc***@gmail.com</div>
                        <div class="input-group mb-3">
                          <input class="form-control" type="text" placeholder="Enter email verification code" required="required"/>
                          <div class="input-group-append">
                            <button class="btn btn-gradient-blue element-append" type="button">Send</button>
                          </div>
                          <div class="invalid-feedback">Invalid code</div>
                        </div>
                        <div class="py-1">0234****456</div>
                        <div class="input-group mb-3">
                          <input class="form-control" type="text" placeholder="Enter SMS verification code" required="required"/>
                          <div class="input-group-append">
                            <button class="btn btn-gradient-blue element-append" type="button">Send</button>
                          </div>
                          <div class="invalid-feedback">Invalid code</div>
                        </div>
                        <div class="form-group">
                          <button class="btn btn-lg btn-gradient-blue w-100" id="btnConfirm" type="submit" data-toggle="modal" data-target="#modalSuccess">OK</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="modal modal-warning fade" id="modalSuccess" tabindex="-1" role="dialog" aria-labelledby="modalSuccessLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content transfer-container">
                    <div class="modal-body d-flex align-items-center"><i class="fas fa-check-circle fa-2x pr-3 text-green"></i><span>Verify success</span></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
      <div class="container-fluid bg-footer py-4">
        <div class="container footer">
          <div class="row justify-content-between">
            <div class="cell">
              <h6 class="font-bold pt-2">BCASH EXCHANGE</h6>
              <div class="pb-2"><i class="fas fa-envelope pr-1"></i>Email: <a href="mailto:support@bcashpay.org">Support@BcashPay.org</a></div>
              <div class="pb-2"><i class="fas fa-comments pr-1"></i><a href="#">Online support</a></div>
              <div class="pb-4"><i class="fas fa-question-circle pr-1"></i><a href="./faq.html">Frequently Asked Questions</a></div>
            </div>
            <div class="cell">
              <h6 class="font-bold pt-2">INTRODUCE</h6>
              <div class="pb-2"><i class="fas fa-chevron-circle-right pr-1"></i><a href="./about.html">About us</a></div>
              <div class="pb-2"><i class="fas fa-chevron-circle-right pr-1"></i><a href="#">Fees</a></div>
              <div class="pb-4"><i class="fas fa-chevron-circle-right pr-1"></i><a href="./policy_term.html">Policies and Terms</a></div>
            </div>
            <div class="cell">
              <h6 class="font-bold pt-2">SOCIAL MEDIA</h6>
              <div class="pb-2"><i class="fab fa-facebook-square pr-1"></i><a href="#">Facebook</a></div>
              <div class="pb-2"><i class="fab fa-telegram pr-1"></i><a href="#">Telegram</a></div>
              <div class="pb-4"><i class="fab fa-twitter pr-1"></i><a href="#">Twitter</a></div>
            </div>
            <div class="cell">
              <h6 class="font-bold pt-2">SIGN UP FOR THE NEWSLETTER</h6>
              <div class="pb-2">Please register to receive latest news from <b>BCASH Exchange</b></div>
              <div class="input-group mb-3">
                <input class="form-control" type="email" placeholder="Enter your mail" aria-label="Enter your mail" aria-describedby="button-addon2"/>
                <div class="input-group-append">
                  <button class="btn btn-gradient-orange" type="button" id="button-addon2">Agree</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid bg-copyright">
        <div class="container">
          <div class="row">
            <div class="col py-2">Designed by BCASH EXCHANGE. All rights reserved. © 2018</div>
          </div>
        </div>
      </div>
    </div>
    <script src="../js/jquery-3.3.1.min.js"></script>
    <script src="../js/popper.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/addons/datatables.min.js"></script>
    <script src="../js/main.js"></script>
    <script>
      (function() {
          'use strict';
          window.addEventListener('load', function() {
              var forms = document.getElementsByClassName('needs-validation');
              var validation = Array.prototype.filter.call(forms, function(form) {
              form.addEventListener('submit', function(event) {
                  if (form.checkValidity() === false) {
                      event.preventDefault();
                      event.stopPropagation();
                  }
                  form.classList.add('was-validated');
              }, false);
              });
          }, false);
      })();
    </script>
    <script>
      (function() {
          'use strict';
          window.addEventListener('load', function() {
              var forms = document.getElementsByClassName('needs-validation');
              var validation = Array.prototype.filter.call(forms, function(form) {
              form.addEventListener('submit', function(event) {
                  if (form.checkValidity() === false) {
                      event.preventDefault();
                      event.stopPropagation();
                  }
                  form.classList.add('was-validated');
              }, false);
              });
          }, false);
      })();
      
      $(function(){
          $('#btnStep11').on('click',function(){
              $('#step-12').removeClass("d-none").addClass("d-flex");
              $('#step-11').removeClass("d-flex").addClass("d-none");
          });
          $('#btnStep12').on('click',function(){
              $('#step-13').removeClass("d-none").addClass("d-flex");
              $('#step-12').removeClass("d-flex").addClass("d-none");
          });
          $('#btnStep21').on('click',function(){
              $('#step-22').removeClass("d-none").addClass("d-flex");
              $('#step-21').removeClass("d-flex").addClass("d-none");
          });
          $('#btnStep22').on('click',function(){
              $('#step-23').removeClass("d-none").addClass("d-flex");
              $('#step-22').removeClass("d-flex").addClass("d-none");
          });
      
          $("#btnConfirm").on('click',function(){
              $('#modalSuccess').modal({show: true, focus: true});
              setTimeout(function(){
                  $('#modalSuccess').modal('hide');
                  window.location.replace("index_logged.html");
              },2000);
          });
      })
    </script>
  </body>
</html>